@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  font-family: Cabin, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color-dark: #c0c1c5;
  --background-color-dark:  #413b3b;
  
  --text-color-light: var(--background-color-dark);
  --background-color-light: var(--text-color-dark);

   --text-color: var(--text-color-light);
   --background-color: var(--background-color-light);

  --nav-bar-color:  #6b9488;
  --nav-bar-text-color: rgb(255, 255, 255);
  --link-color: #646cff;
  --link-hover-color:  #848af1;


  --error-color:red;


  color-scheme: light dark;
  color:var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.intro {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
}

.home {
  --theme-primary: var(--background-color);
  --theme-border: var(--background-color);


  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.writing {
  --theme-primary: #5cd8f7;  
  --theme-border: #92e4f8;

  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.software-engineering {
  --theme-primary: #fd8732;    
  --theme-border: #fdba74;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.academic-research {
  --theme-primary: #f63b3bad;    
  --theme-border: #d67070ad;

  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.blog {
  --theme-primary: #3b82f6;    
  --theme-border: #93c5fd;

  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}


h1,h2 {
  text-align: center;
  color: var(--theme-primary);
  margin-bottom: 2rem;
  border-bottom: 3px solid var(--theme-border);
  padding-bottom: 1rem;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
  }

a {
  color: var(--link-color);
}

  a:hover {
    color: var(--link-hover-color);
  }

  button {
    background-color: #f9f9f9;
  }
}